# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# IDE IntelliJ
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# Environment files
.env

# Lombok
lombok.config

# Mongo local database files (caso algum dia rode embedded)
/data/
