# ===============================
# Maven
# ===============================
/target/
!.mvn/wrapper/maven-wrapper.jar

# ===============================
# Logs
# ===============================
*.log

# ===============================
# IDE - IntelliJ
# ===============================
.idea/
*.iws
*.iml
*.ipr

# ===============================
# IDE - VS Code
# ===============================
.vscode/

# ===============================
# IDE - STS4 / Eclipse
# ===============================
.project
.classpath
.settings/
.factorypath
.springBeans
.sts4-cache/

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Environment / Sensitive
# ===============================
.env

# ===============================
# Lombok
# ===============================
lombok.config

# ===============================
# Mongo local (caso use embedded)
# ===============================
/data/
